<div>
  <button (click)="onHomeClicked()">Home</button>
  <form [formGroup]="form" (submit)="onSave()">
    <h3> Add new Recipe 🍗🍛</h3>
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" placeholder="Recipe name 🥣" formControlName="name">
      <span class="text-muted" *ngIf="form.get('name').touched && !form.get('name').valid">Please enter recipe
        name</span>
    </div>
    <div formGroupName="chef">
      <div class="form-group">
        <label>Chef</label>
        <input type="text" class="form-control" placeholder="Name of Chef 👨‍🍳" formControlName="name">
        <span class="text-muted" *ngIf="form.get('chef.name').touched && !form.get('chef.name').valid">Please enter
          chef</span>
      </div>
    </div>
    <div class="form-group">
      <label>Image</label>
      <input type="text" class="form-control" placeholder="Image of Food 🎑" formControlName="image">
    </div>
    <div class="form-group">
      <label>Veg / Non-Veg?</label>
      <input type="text" class="form-control" placeholder="Is it veg 🥦 or non-veg 🍗" formControlName="type">
    </div>
    <button type="submit" class="btn btn-primary">Add Recipe</button>
  </form>
</div>